@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}

/* shared styles */
.btn-typ1{
    color: white;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;
    background-color: orange;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}
.btn-typ1:hover{
    color: orange;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding: 10px 60.5px;
    border: 2px solid orange;
    border-radius: 12px;
}
.btn-typ2{
    color: white;
    background-color: black;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
}
.btn-typ2:hover{
    color: black;
    background-color: white;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 47px;
    border: 2px solid black;
    border-radius: 12px;
}
/* header styles start */
/* nav */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.logo-brand-name{
    display: flex;
    align-items: center;
}
.brand{
    margin-left: 11px;
    font-size: 32px;
    font-weight: 700;
    color: black;
}
.nav-items{
    display: flex;
}
li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-link:hover{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(254, 153, 117, 0.158);
    padding: 10px;
    border-radius: 5px;
}
#nav-link1{
    margin-right: 32px;
    color: orange;
}
#nav-link2{
    margin-right: 32px;
    color: skyblue;
}
#nav-link3{
    margin-right: 32px;
    color: rgba(5, 212, 223, 1);
}
#nav-link4{
    color: rgba(93, 88, 239, 1);
}
.nav-menu-bar{
    display: none;
}
#menu{
    font-size: 32px;
}
/* banner */
.banner{
    display: flex;
    margin: 0px 141px;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.banner-slogan{
    margin-right: 50px;
}
.banner-img{
    height: 100%;
    width: 100%;
}
h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-slogan p{
    font-size: 20px;
    margin-bottom: 24px;
}
/* header styles close */

/* media query */
@media screen and (max-width: 576px) {
    /* navbar */
    .navbar{
        margin: 0px;
        padding: 12px 16px;
        border-bottom: 1px solid orange;
        /* width: calc(100% - 34px); */
        width: auto;
        height: auto;
    }
    .brand,
    .nav-links,
    #nav-btn-typ1{
        display: none;
    }
    .nav-menu-bar{
       display: block; 
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
        margin: 8px 16px;
        column-gap: 0px;
        width: calc(100% - 32px);
    }
    .banner-img{
        display: flex;
        justify-content: center;
    }
    .banner-img> img{
        height: auto;
        width: calc(100% - 50px);
    }
    h1{
        font-size: 32px;
    }
    .banner-slogan{
        width: 100%;
        text-align: center;
        margin: 0px;
    }
}